<br>
<h1><%= @cocktail.name %></h1>
<br>
<h3>Ingredients</h3>
<% @cocktail.doses.each do |d| %>
<li><%= d.ingredient.name.capitalize %> - <%= d.description %></li>
<% end %>
<br>
<%= link_to '+ Add an ingredient', new_cocktail_dose_path(@cocktail) %>