<div class="footer text-white bg-dark">
  <div class="footer-links">
    <a href="https://github.com/lewagon"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/lewagonsingapore"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> through Le Wagon UI Kit
  </div>
</div>
